.sectionInMain {
  margin-left: 300px;
  padding-left: 70px;
  padding-right: 70px;
}

.asideHidden {
  margin-left: -300px;
}

@media (max-width: 1199px) {
  .aside {
    transition: transform 0.3s;
    transform: translateX(-300px);
  }

  .asideOver {
    z-index: 1000;
  }

  .asideHidden {
    transform: translateX(-300px);
  }
}
