.aside,
.main {
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 1199.98px) {
  /* *
     * Aside comes over the main element. Onle Aside is shiften
     * applying toggle_aside opens, and removing it closes.
     * */

  .aside {
    margin-left: -300px;
  }

  .main {
    margin-left: 0;
  }

  .toggle_aside .aside {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  /* *
     * Aside doesn't come over the main element. Both are shifted
     * applying toggle_aside closes, and removing it opens.
     * */

  .main {
    margin-left: 300px;
  }

  .aside {
    margin-left: 0px;
  }

  .toggle_aside .main {
    margin-left: 0;
  }

  .toggle_aside .aside {
    margin-left: -300px;
  }
}
