/* =====================================================
SidebarLinks
======================================================== */

.sidebarheading {
  font-size: 12px;
  margin: 15px 0 5px 15px;
}

.sidebarlink {
  margin-bottom: 5px;
}

.sidebarlink .nav_link {
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s; /* Combine transitions */
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebarlink .nav_link i {
  margin-right: 10px;
  transition: color 0.3s;
}

.sidebarlink .nav_link .dropdown_icon {
  transition: transform 0.2s ease-in-out;
}

.sidebarlink .nav_link[aria-expanded="true"] .dropdown_icon {
  transform: rotate(180deg);
}

.sidebarlink .nav_content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebarlink .open_dropdown {
  max-height: 500px; /* Adjust this based on your content height */
}

.sidebarlink .closed_dropdown {
  max-height: 0;
}

.sidebarlink .nav_content a {
  display: flex;
  align-items: center;
  transition: color 0.3s;
  padding: 10px 0 10px 40px;
}

.sidebarlink .nav_content a i {
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebarlink .nav_content {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}

/* ============================
SocialMediaLinks
=============================== */
.V1_socialMediaLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  margin-right: 4px;
  transition: 0.3s;
}

.V2_socialMediaLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  margin-right: 10px;
  transition: 0.3s;
}

.V3_socialMediaLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  margin-right: 4px;
  transition: 0.3s;
}