.about-content h1,
.about-content h2,
.about-content h3 {
  font-size: 28px;
  font-weight: bold;
}

.about-content p {
  font-style: italic;
}

.about-content ul {
  list-style: none;
  padding: 0;
}

.about-content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}

.about-content ul li::before {
  content: "»";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 28px;
}

.about-content p:last-child {
  margin-bottom: 0;
}
