/* ============================
app - LoginSignup
=============================== */
.authform {
  font-size: 14px;
}

.authform .input {
  box-shadow: none;
  border-radius: 0;
}

.authform .checkInput {
  transform: scale(1.5);
}

.authform .checkInput:focus {
  box-shadow: none;
}

.authform .recaptchaImage {
  max-width: 30px;
}
