.sidebar {
  scrollbar-width: thin;
}

/* * Aside Navigation */
.sidebar .aside_nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar .aside_nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

