# Documentation: https://help.github.com/articles/ignoring-files/

# ─── Next.js ────────────────────────────────────────────────────────
node_modules/
.next/
next-env.d.ts
navigation.ts
!/app/navigation.ts

# ─── Django ─────────────────────────────────────────────────────────
.venv/
__pycache__/
*.sqlite*
public/static/
public/media/
# Since fixtures contain site data, allow them only in 'app' and not in 'components' folder
components/**/fixtures/

# ─── Environment Variables ──────────────────────────────────────────
*.env*

# ─── Testing ───────────────────────────────────────────────────────
*test/

# ─── IDE and Miscellaneous Configurations ──────────────────────────
.vscode/
.backup/
