# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

workout
node_modules
*env*
*sqlite*
__pycache__
next-env.d.ts

/coverage
/.next
/_next

/core/_next/build
/core/_next/static
/core/_next/media/*
!/core/_next/media/defaults

seed.json