[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tzdata = "*"
pillow = "*"
psycopg = "*"
gunicorn = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
python-decouple = "*"

[dev-packages]
termcolor = "*"

[requires]
python_version = "3.12"
