[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
tzdata = "*"
pillow = "*"
psycopg = "*"
gunicorn = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-ckeditor-5 = "*"

[requires]
python_version = "3.12"
