/*--------------------------------------------------------------
  # Logo
  --------------------------------------------------------------*/
.logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo {
    color: var(--bs-white);
}

.logo h1 span {
    color: var(--bs-primary);
}

.logo img {
    max-height: 40px;
}