/* * Aside Toggle */

.aside,
.main {
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 1199.98px) {
  /* here, the aside section will come over the main element when toggled open */

  .aside {
    margin-left: -300px;
  }

  .toggle_aside .aside {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  /* here, both aside and main are shifted when toggled open. Aside doesn't come over the main element */

  .main {
    margin-left: 300px;
  }

  .toggle_aside .main {
    margin-left: 0;
  }

  .toggle_aside .aside {
    margin-left: -300px;
  }
}
