.authform {
  font-size: var(--font-size-xs);
}

.label {
  margin-left: 0.5rem;
}

.input {
  border-radius: 0;
  box-shadow: none;
  font-size: var(--font-size-xs);
  border-radius: 0;
}

.checkInput {
  transform: scale(1.5);
}

.checkInput:focus {
  box-shadow: none;
}

.recaptchaImage {
  max-width: 30px;
}
