.section {
  overflow: hidden;
  position: relative;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .section {
    padding: 20px;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
  .section {
    padding: 30px;
  }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
  .section {
    padding: 40px;
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  .section {
    padding: 50px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .section {
    padding: 60px;
  }
}

.centeredSection {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  position: relative;
}
