.aside {
  scrollbar-width: thin;
}

/* * Aside Navigation */
.aside .aside_nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.aside .aside_nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

