/*--------------------------------------------------------------
# Loader
--------------------------------------------------------------*/
.loader {
    z-index: 9999;
    position: fixed;
    background: var(--bs-white);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.loader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--bs-primary);
    border-top-color: var(--bs-white);
    border-bottom-color: var(--bs-white);
    border-radius: var(--bs-border-radius-xxl);
    width: 60px;
    height: 60px;
    animation: animate-loader 1s linear infinite;
}

@keyframes animate-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}