.h3 {
    font-size: var(--font-size-xl);
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.p {
    font-size: var(--font-size-xs);
    line-height: 24px;
    margin-bottom: 0;
    color: var(--bs-white);
}