/* * Aside */

.aside {
  scrollbar-width: thin;
}

/* * Aside Nav */

.aside_nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.aside_nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.aside_nav .nav_item {
  margin-bottom: 5px;
}

.aside_nav .nav_heading {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 15px 0 5px 15px;
}

.aside_nav .nav_link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  transition:
    background-color 0.3s,
    color 0.3s; /* Combine transitions */
  padding: 10px 15px;
  border-radius: 4px;
}

.aside_nav .nav_link i {
  font-size: 16px;
  margin-right: 10px;
  transition: color 0.3s;
}

.aside_nav .nav_link .dropdown_icon {
  transition: transform 0.2s ease-in-out;
}

.aside_nav .nav_link[aria-expanded="true"] .dropdown_icon {
  transform: rotate(180deg);
}

.aside_nav .nav_content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.aside_nav .nav_content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s;
  padding: 10px 0 10px 40px;
}

.aside_nav .nav_content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.aside_nav .nav_content {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}

.aside_nav .openDropdown {
  max-height: 500px; /* Adjust this based on your content height */
}

.aside_nav .closedDropdown {
  max-height: 0;
}
