/* Sidebar */
.sidebarNavLink {
  color: var(--bs-white);
  padding: 0.75rem 1.25rem; /* Padding for links */
  display: flex;
  align-items: center;
}

.sidebarNavLink:hover,
.sidebarNavLinkActive {
  background-color: #495057; /* Darker background on hover */
  color: var(--bs-white);
}

.sidebarNavIcon {
  margin-right: 0.5rem;
}

/* NavBar */
.navbarNavLink,
.navbarNavLink:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: var(--font-size-xs);
  font-weight: 600;
  font-family: var(--font-primary);
  color: var(--bs-white);
  white-space: nowrap;
  transition: 0.3s;
}

.navbarNavLink:hover,
.navbarNavLinkActive,
.navbarNavLinkActive:focus {
  color: var(--bs-primary);
}

.navbarNavIcon,
.navbarNavIcon:focus {
  margin-right: 0.5rem;
  font-size: var(--font-size-xs);
  line-height: 0;
  margin-left: 5px;
}

/* Mobile Nav */
.mobileNavLink,
.mobileNavLink:focus {
  padding: 10px 20px;
  font-size: var(--font-size-sm);
  color: var(--bs-dark);
}

.mobileNavLink:hover,
.mobileNavLinkActive {
  color: var(--bs-dark);
  background-color: var(--bs-primary);
}

.mobileNavIcon,
.mobileNavIcon:focus {
  margin-right: 0.5rem;
  font-size: var(--font-size-xs);
  line-height: 0;
  margin-left: 5px;
}
