/*--------------------------------------------------------------
# Custom Boostrap
# Help: https://getbootstrap.com/docs/5.3/customize/sass/
--------------------------------------------------------------*/

/* Include functions first (so you can manipulate colors, SVGs, calc, etc)
------------------------------*/
@import "../node_modules/bootstrap/scss/functions";

/* Include any default variable overrides here
------------------------------*/
// #ffc451;
// #e32636;
$primary: #ffc451;
$primary-rgb: 232, 69, 69;
$secondary: #b4b4b4ef;
$secondary-rgb: 182, 182, 182;

/* Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
------------------------------*/
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

/* Include any default map overrides here
------------------------------*/

/* Include remainder of required parts
------------------------------*/
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

/* Optionally include any other parts as needed
------------------------------*/
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/toasts";

/* Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
------------------------------*/
@import "../node_modules/bootstrap/scss/utilities/api";

/*--------------------------------------------------------------
# Additional Bootstrap Customization
--------------------------------------------------------------
/* Dropdown */
.dropdown-toggle {
    font-size: 22px;
    margin-right: 25px;
    position: relative;
    transition: 0.3s;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    color: rgba(var(--bs-dark-rgb), 1.0) !important;
}

.dropdown-toggle .badge-number {
    position: absolute;
    inset: -2px -5px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}

.dropdown-menu {
    transition: all 0.3s;
    inset: 8px -15px auto auto !important;
    border-radius: 4px;
    padding: 10px 0;
    animation-name: dropdown-animate;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}

.dropdown-menu .dropdown-divider {
    color: #a5c5fe;
    margin: 0;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f6f9ff;
}

@media (min-width: 768px) {
    .dropdown-menu-arrow::before {
        content: "";
        width: 13px;
        height: 13px;
        background: var(--bs-white);
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }
}

@keyframes dropdown-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@font-face {
    font-family: "preloslab-medium-regular";
    src: url("/fonts/preloslab-book1.otf");
}

@font-face {
    font-family: "preloslab-medium-bold";
    src: url("/fonts/preloslab-bold2_1.otf");
}

@font-face {
    font-family: "Titillium-Regular";
    src: url("/fonts/Titillium-Regular.otf");
}

:root {
    --font-default: "Titillium-Regular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "preloslab-medium-bold", sans-serif;
    --font-secondary: "preloslab-medium-regular", sans-serif;
}

:root {
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-xxl: 24px;
}

body {
    font-family: var(--font-default);
    // font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: $primary;
    // color: #ffc451;
    text-decoration: none;
}

a:hover {
    color: var(--bs-primary);
    // color: #ffd584;
    opacity: 0.8;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    // font-family: "Raleway", sans-serif;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 767.98px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}