.about-content h5 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 20px;
}

.about .about-content ul,
.about .about-content p {
  margin-bottom: 1rem;
}

.about .about-content ul {
  padding: 0;
  list-style: none;
}

.about .about-content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}

.about .about-content ul li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "»";
}

.about .about-content p:last-child {
  margin-bottom: 0;
}