.title {
    padding-bottom: 40px;
}

.h2 {
    font-size: var(--font-size-xs);
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
}

.h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: rgb(var(--bs-primary-rgb), 0.7);
    margin: 4px 10px;
}

.p {
    margin: 0;
    font-size: var(--font-size-xxl);
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: var(--bs-dark);
}