.toggleAsideBtn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

.toggleAsideBtn:hover{
  background: none;
}

.svg {
  color: var(--bs-white);
  background: var(--bs-white);
}
