/* todo check if this icon property is necessary. If not remove from here and in the JSX file */

/* .icon {
  position: relative;
  bottom: 2.5px;
} */

/*--------------------------------------------------------------
# Social Link V1
--------------------------------------------------------------*/
.V1_link {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  font-size: var(--font-size-md);
  color: var(--bs-body-color);
  margin-right: 4px;
  transition: 0.3s;
}

.V1_link:hover {
  background: var(--bs-primary);
  color: var(--bs-dark);
}

/*--------------------------------------------------------------
# Social Link V2
--------------------------------------------------------------*/
.V2_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(var(--bs-body-color-rgb), 0.5);
  font-size: 16px;
  color: rgba(var(--bs-body-color-rgb), 0.5);
  margin-right: 10px;
  transition: 0.3s;
}

.V2_link:hover  {
  color: var(--bs-primary);
  border-color: var(--bs-primary);
}

/*--------------------------------------------------------------
# Social Link V3
--------------------------------------------------------------*/
.V3_link  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  color: var(--bs-white);
  background: var(--bs-primary);
  margin-right: 4px;
  transition: 0.3s;
}

.V3_link:hover  {
  background: rgba(var(--bs-primary-rgb), 0.8);
}