/* Header */
.header .redirectButton {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header .redirectButton.visible {
  opacity: 1;
  visibility: visible;
}

/* Hero */
.hero .hero_image {
  object-fit: cover;
  object-position: center;
  transform: translateZ(0); /* Helps with performance */
}

.hero .hero_container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .hero .hero_image {
    object-position: center; /* Ensure proper centering on mobile */
  }
}