.toggle {
  color: var(--bs-body-color);
  font-size: var(--font-size-xl);
  cursor: pointer;
  line-height: 0;
  transition: 0.5s;
  border: none;
}

.toggleWhenMobileNavIsOpen {
  color: var(--bs-white);
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbarMobile {
  background: rgba(var(--bs-black-rgb), 0.9);
  transition: 0.3s;
}

.ul {
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: var(--bs-body-bg);
  overflow-y: auto;
  transition: 0.3s;
}

.navLink,
.navLink:focus {
  padding: 10px 20px !important;
  font-size: var(--font-size-sm);
  color: var(--bs-body-color);
}

.navLink:hover,
.navLinkActive {
  color: var(--bs-body-color);
  background-color: var(--bs-primary);
}

.navIcon,
.navIcon:focus {
  margin-right: 0.5rem;
  font-size: var(--font-size-xs);
  line-height: 0;
  margin-left: 5px;
}


/* Header Navigation */

.navbarNavLink,
.navbarNavLink:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: var(--font-size-xs);
  font-family: var(--font-primary);
  color: var(--bs-body-color);
  white-space: nowrap;
  transition: 0.3s;
}

.navbarNavLink:hover,
.navbarNavLinkActive,
.navbarNavLinkActive:focus {
  color: var(--bs-primary);
}

.navbarNavIcon,
.navbarNavIcon:focus {
  margin-right: 0.5rem;
  font-size: var(--font-size-xs);
  line-height: 0;
  margin-left: 5px;
}


/* Aside Navigation */
.sidebarNavLink {
  color: var(--bs-body-color);
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
}

.sidebarNavLink:hover,
.sidebarNavLinkActive {
  color: var(--bs-primary);
}

.asideNavIcon {
  margin-right: 0.5rem;
}

.retractedIcon {
  margin-right: -16px;
}

/* 
.dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: var(--bs-white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.dropdown ul li {
  min-width: 200px;
}

.dropdown ul a {
  padding: 10px 20px;
  color: var(--bs-dark);
}

.dropdown ul a svg {
  font-size: var(--font-size-xxs);
}

.dropdown ul a:hover,
.dropdown ul .active:hover,
.dropdown ul li:hover > a {
  background-color: var(--bs-primary);
}

.dropdown > .dropdown-active {
  display: block;
} */