#hero {
    width: 100%;
    min-height: 100vh;
    background: url("/images/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(var(--bs-black-rgb), 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    position: relative;
    padding-top: 74px;
    text-align: center;
}

.smaller-heading {
    font-size: 36px;
    /* Adjust the size as needed */
    line-height: 1.2;
    /* Adjust the line height as needed */
}


#hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: var(--bs-white);
}

#hero h1 span {
    color: var(--bs-primary);
}

#hero h2 {
    color: rgba(var(--bs-white-rgb), 0.9);
    margin: 10px 0 0 0;
    font-size: 24px;
}

#hero .icon-box {
    padding: 30px 20px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgba(var(--bs-white-rgb), 0.3);
    height: 100%;
    text-align: center;
}

#hero .icon-box svg {
    font-size: 32px;
    line-height: 1;
    color: var(--bs-primary);
}

#hero .icon-box h3 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    line-height: 26px;
}

#hero .icon-box h3 a {
    color: var(--bs-white);
    transition: ease-in-out 0.3s;
}

#hero .icon-box h3 a:hover {
    color: var(--bs-primary);
}

#hero .icon-box:hover {
    border-color: var(--bs-primary);
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 20px;
        line-height: 24px;
    }
}