/* ============================
app - LoginSignup
=============================== */
.authform {
  @apply text-sm;
}

.authform .label {
  margin-left: 0.5rem;
}

.authform .input {
  border-radius: 0;
  box-shadow: none;
  @apply text-sm;
  border-radius: 0;
}

.authform .checkInput {
  transform: scale(1.5);
}

.authform .checkInput:focus {
  box-shadow: none;
}

.authform .recaptchaImage {
  max-width: 30px;
}
