/* Version 1 */
.title .V1_h3 {
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title .V1_h3::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  margin: 4px 10px;
}

/* Version 2 */
.title .V2_h3:before,
.title .V2_h3:after {
  content: "";
  width: 50px;
  height: 2px;
  display: inline-block;
}

.title .V2_h3:before {
  margin: 0 15px 10px 0;
}

.title .V2_h3:after {
  margin: 0 0 10px 15px;
}

.title .V2_p {
  margin-bottom: 0;
}

/* Version 3 */
.title .V3_h3 {
  font-size: 13px;
  letter-spacing: 1px;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.title .V3_h4 {
  margin: 15px 0 0 0;
  font-size: 32px;
}

.title .V3_p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .title .V3_p {
    width: 50%;
  }
}
