/*--------------------------------------------------------------
  # Cta
  --------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("/images/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 60px 0;
}

.h3 {
    color: var(--bs-white);
    font-size: var(--font-size-xl);
    font-weight: 700;
}

.p {
    color: var(--bs-white);
}

.btn {
    font-weight: 600;
    font-size: var(--font-size-sm);
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid var(--bs-white);
    color: var(--bs-white);
}

.btn:hover {
    background: var(--bs-primary);
    border-color: var(--bs-primary);
    color: var(--bs-dark);
}