/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.preloader {
    z-index: 9999;
}

.preloader:before {
    content: '';
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--bs-primary);
    border-top-color: var(--bs-white);
    border-bottom-color: var(--bs-white);
    border-radius: var(--bs-border-radius-xxl);
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}