/* Version 1 */

.V1_cta {
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
}

.V1_cta h3 {
  font-size: 28px;
  font-weight: 700;
}

@media (min-width: 1024px) {
  .V1_cta {
    background-attachment: fixed;
  }
}

/* Version 2 */

.V2_cta {
  padding: 0;
}

@media (max-width: 991.98px) {
  .V2_cta .cta_container {
    padding: 60px;
  }
}

.V2_cta .content h3 {
  font-size: 48px;
  font-weight: 700;
}

.V2_cta .content p {
  font-weight: 600;
  font-size: 18px;
}

.V2_cta .img {
  position: relative;
}

.V2_cta .img:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  transform: rotate(12deg);
}

.V2_cta .img:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  transform: rotate(6deg);
}
