.contactcontent_icon {
  background: var(--bs-primary);
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.contactcontent_svg {
  font-size: 20px;
  color: var(--bs-dark);
}

.contactcontent_h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--bs-dark);
}

.contactcontent_p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #484848;
}

.contactcontent_email,
.contactcontent_phone {
  margin-top: 40px;
}
